form {
  max-width: 800px;
  padding: 2rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 0.25rem;
}

form > .form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
  min-width: 500px;
}

.form-group > label {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.form-group > input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.form-group button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.form-group span {
  color: red;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}
